spring.datasource.url=jdbc:postgresql://localhost:5432/filehub
spring.datasource.username=filehub
spring.datasource.password=change-me

spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false
